[submodule "agenomic-cli"]
	path = agenomic-cli
	url = https://github.com/treansai/agenomic-cli.git
[submodule "agenomic-examples"]
	path = agenomic-examples
	url = https://github.com/treansai/agenomic-examples.git
[submodule "agenomic-python"]
	path = agenomic-python
	url = https://github.com/treansai/agenomic-python.git
[submodule "agenomic-spec"]
	path = agenomic-spec
	url = https://github.com/treansai/agenomic-spec.git
[submodule "agenomic-typescript"]
	path = agenomic-typescript
	url = https://github.com/treansai/agenomic-typescript.git
[submodule "agenomic-codedrift"]
	path = agenomic-codedrift
	url = https://github.com/treansai/agenomic-codedrift.git
	branch = main
