[submodule "agenomic-cli"]
	path = agenomic-cli
	url = https://github.com/treansai/agentlock-cli.git
[submodule "agenomic-cloud"]
	path = agenomic-cloud
	url = https://github.com/treansai/agentlock-cloud.git
[submodule "agenomic-examples"]
	path = agenomic-examples
	url = https://github.com/treansai/agentlock-examples.git
[submodule "agenomic-python"]
	path = agenomic-python
	url = https://github.com/treansai/agentlock-python.git
[submodule "agenomic-spec"]
	path = agenomic-spec
	url = https://github.com/treansai/agentlock-spec.git
[submodule "agenomic-typescript"]
	path = agenomic-typescript
	url = https://github.com/treansai/agentlock-typescript.git
[submodule "agenomic-web"]
	path = agenomic-web
	url = https://github.com/treansai/agentlock-web.git
[submodule "agenomic-infra"]
	path = agenomic-infra
	url = https://github.com/treansai/agentlock-infra.git
